<!-- <div>
    <h1>Registration Page</h1>
    <div>
        <div>
            <label>Employee Name</label>
            <input [(ngModel)]="employeeName" />
        </div>
    </div>
    <div>
        <label>Employee Email</label>
        <input [(ngModel)]="employeeEmail" />
    </div>
    <div>
        <label>Team Type</label>
        <select (change)="this.HandleTeamType($event)">
            <option value="noItemSelected">Select Team Type</option>
            <option value="dashboard">Dashboard</option>
            <option value="voice">Voice</option>
            <option value="cloud">Cloud</option>
            <option value="mobile">Mobile</option>
            <option value="firmware">Firmware</option>
        </select>
    </div>
    <div>
        <label>Date of birth</label>
        <input type="date" [(ngModel)]="dob" />
    </div>
    <div>
        <label>Current Location</label>
        <input [(ngModel)]="currentLocation" />
    </div>
    <div>
        <label>Mobile Number</label>
        <input type="number" [(ngModel)]="mobileNumber"  />
    </div>
    <div>
        <label>Experience</label>
        <input type="number" [(ngModel)]="experience" />
    </div>
    <div>
        <label>Password</label>
        <input type="password" [(ngModel)]="password"/>
    </div>
    <div>
        <label>Confirm Password</label>
        <input type="password" [(ngModel)]="confirmpassword" />
    </div>
    <div>
        <button (click)="this.Register()">Register</button>
        <a href="login-page">Already Have a account</a>
    </div>
</div> -->
<div class="main_container">

<div class="container">

    <div class="header_title"><span>Registration Form</span></div>

    <form action="#">
        <div class="form first">
            <div class="details personal">
                <span class="sub_title">Personal Details</span>

                <div class="fields">
                    <div class="input-field">
                        <label>Full Name</label>
                        <input type="text" placeholder="Enter your name" required>
                    </div>

                    <div class="input-field">
                        <label>Date of Birth</label>
                        <input type="date" placeholder="Enter birth date" required>
                    </div>

                    <div class="input-field">
                        <label>Email</label>
                        <input type="text" placeholder="Enter your email" required>
                    </div>

                    <div class="input-field">
                        <label>Mobile Number</label>
                        <input type="number" placeholder="Enter mobile number" required>
                    </div>

                    <div class="input-field">
                        <label>Gender</label>
                        <select required>
                            <option disabled selected>Select gender</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Others</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label>Team Type</label>
                        <select required>
                            <option disabled selected>Select Team</option>
                            <option>Dashboard</option>
                            <option>Voice</option>
                            <option>Cloud</option>
                            <option>Mobile</option>
                            <option>Firmware</option>
                        </select>
                    </div>

                    <div class="input-field">
                        <label>Current City</label>
                        <input type="number" placeholder="Enter city" required>
                    </div>

                    <div class="input-field">
                        <label>Password</label>
                        <input type="password" placeholder="Enter Password" required>
                    </div>

                    <div class="input-field">
                        <label>Confirm Password</label>
                        <input type="password" placeholder="Enter Confirm Password" required>
                    </div>

                    
                </div>
            </div>

            <div class="details ID">

                <div class="buttons">
                    <!-- <div class="backBtn">
                        <i class="uil uil-navigator"></i>
                        <span class="btnText">Back</span>
                    </div> -->
                    
                </div>
                <button class="sumbit">
                    <span class="btnText">Submit </span>
                    <i class="uil uil-navigator"></i>
                </button>
                <!-- <button class="sumbit">
                    <span class="btnText"><a href="home-page">Submit</a> </span>
                    <i class="uil uil-navigator"></i>
                </button> -->
            </div> 
        </div>

        <!-- <div class="form second">
            <div class="details address">
                <span class="title">Address Details</span>

                <div class="fields">
                    <div class="input-field">
                        <label>Address Type</label>
                        <input type="text" placeholder="Permanent or Temporary" required>
                    </div>

                    <div class="input-field">
                        <label>Nationality</label>
                        <input type="text" placeholder="Enter nationality" required>
                    </div>

                    <div class="input-field">
                        <label>State</label>
                        <input type="text" placeholder="Enter your state" required>
                    </div>

                    <div class="input-field">
                        <label>District</label>
                        <input type="text" placeholder="Enter your district" required>
                    </div>

                    <div class="input-field">
                        <label>Block Number</label>
                        <input type="number" placeholder="Enter block number" required>
                    </div>

                    <div class="input-field">
                        <label>Ward Number</label>
                        <input type="number" placeholder="Enter ward number" required>
                    </div>
                </div>
            </div>

            <div class="details family">
                <span class="title">Family Details</span>

                <div class="fields">
                    <div class="input-field">
                        <label>Father Name</label>
                        <input type="text" placeholder="Enter father name" required>
                    </div>

                    <div class="input-field">
                        <label>Mother Name</label>
                        <input type="text" placeholder="Enter mother name" required>
                    </div>

                    <div class="input-field">
                        <label>Grandfather</label>
                        <input type="text" placeholder="Enter grandfther name" required>
                    </div>

                    <div class="input-field">
                        <label>Spouse Name</label>
                        <input type="text" placeholder="Enter spouse name" required>
                    </div>

                    <div class="input-field">
                        <label>Father in Law</label>
                        <input type="text" placeholder="Father in law name" required>
                    </div>

                    <div class="input-field">
                        <label>Mother in Law</label>
                        <input type="text" placeholder="Mother in law name" required>
                    </div>
                </div>

                <div class="buttons">
                    <div class="backBtn">
                        <i class="uil uil-navigator"></i>
                        <span class="btnText">Back</span>
                    </div>
                    
                    <button class="sumbit">
                        <span class="btnText">Submit</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div>
            </div> 
        </div> -->
    </form>
</div>
</div>