
<div *ngIf="!resetPasswordRes.success" class="container">
    <div class="wrapper">
      <div class="title"><span>Reset Password  Form</span></div>
      <span *ngIf="verifyEmailRes.error" class="error">{{verifyEmailRes.message}}</span>
      <span *ngIf="verifyEmailRes.success" class="success">{{verifyEmailRes.message}}</span>
        <div class="row" *ngIf="!validEmail">
          <i class="fa-solid fa-user"></i>
          <input type="text" [(ngModel)]="email" placeholder="Enter your email" required>
        </div>
        <div *ngIf="validEmail" >
            <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" [(ngModel)]="newpassword" placeholder="New Password" required>
              </div>
              <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" [(ngModel)]="confirmNewPassword" placeholder="New Confirm Password" required>
              </div>
        </div>
        
        <div class="row button">
          <input type="button" *ngIf="validEmail"  (click)="this.UpdateNewPassword()" value="Update New Password">
          <input type="button" *ngIf="!validEmail" (click)="this.EmailValidation()"  value="Validate your Email">
        </div>
        <div class="pass"><a href="login-page">Remember your password?</a></div>
    </div>
</div>
<div *ngIf="resetPasswordRes.success" class="container2">
    <div class="wrapper">
      <div style="display: flex;justify-content: center;">
        <img  src="https://res.cloudinary.com/dqlfjgkoe/image/upload/v1673419747/check-circle_e0ciz6.gif"  width="200px" height="auto"/>
        <img  src="https://i.pinimg.com/originals/a0/e7/12/a0e71251460ecb78160b83e5a48618a6.gif"  width="280px" style="position: absolute;" height="auto"/>
    </div>
    <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;margin-top: 20px;">
      <span class="success">{{resetPasswordRes.message}}</span>
      <div class="navigate_links" ><a  href="login-page">Signin ?</a></div>
    </div>
    </div>
</div>