<!-- <div>
    <h1>Forget Password Page</h1>
    <div>
        <div>
            <label>Employee Email</label>
            <input type="email" />
        </div>
        <div>
            <button>Reset Password</button>
        </div>
        <div>
            <a href="login-page">I remember Password</a>
        </div>
    </div>
    <div hidden>
        <div>
            <label>New password</label>
            <input type="password" />
        </div>
        <div>
            <label>Confirm New password</label>
            <input type="password" />
        </div>
        <div>
            <button>Update New password</button>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="wrapper">
      <div class="title"><span>Reset Password  Form</span></div>
      <form action="#">
        <div class="row" hidden>
          <i class="fa-solid fa-user"></i>
          <input type="text" placeholder="Enter your email" required>
        </div>
        <div >
            <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="New Password" required>
              </div>
              <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="New Confirm Password" required>
              </div>
        </div>
        
        <div class="row button">
          <input  type="submit" value="Update">
        </div>
        <div class="pass"><a href="login-page">Remember your password?</a></div>
      </form>
    </div>
  </div>