<div class="container">
    <div *ngIf="profileDetails" class="form first">
          <div class="header_title" ><span>Profile Details</span></div> 
          <div style="display: flex;align-items: center;justify-content: center;flex-direction: column;">
            <div style="display: flex;">
                <div  style="display: flex;flex-direction: column;align-items: center;justify-content: center;margin-bottom: 15px;">
                    <img class="preview-img" src={{profileDetails.pic}} alt="Flip Card">
                    <span class="profile-headers">{{profileDetails.name}}</span>
                    <span *ngIf="uploadPic" class="profile-headers instruction-msg">Your Present Picture</span> 
                    <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                </div>
                <div class="new_preview_image" *ngIf="url && uploadPic">
                    <img class="preview-img"  [src]="url" >
                    <span class="profile-headers instruction-msg">Your New Picture</span>
                    <span *ngIf="errorRes.error" class="profile-headers instruction-error-msg">{{errorRes.message}}</span>
                </div>
            </div>
            <div>
                <span *ngIf="!uploadPic" class="choose_img_btn">
                    Choose Image
                </span>
                <input class="choose_image" *ngIf="!uploadPic" type="file" (change)="selectFile($event)">
            </div>

            <div *ngIf="uploadPic"  class="btn-img-grp">
                <button class="logout" (click)="this.CancelUpload()">
                    Cancel
                </button>

                <div>
                    <span *ngIf="errorRes.error" class="choose_img_btn">
                        Try another image
                    </span>
                    <input class="choose_image" *ngIf="errorRes.error" type="file" (change)="selectFile($event)">
                </div>
                
                <button class="logout" *ngIf="!errorRes.error" (click)="this.UploadImage()">
                    Upload Image
                </button>             
            </div>
          </div>
          <div class="details personal" style="margin: 5px 0;text-align: center;">


              <div class="fields">
                  <!-- <div class="input-field">
                      <label>Full Name</label>
                      <span class="profile-headers">{{profileDetails.name}}</span>
                  </div> -->

                  <div class="input-field">
                      <label>Date of Birth</label>
                      <span class="profile-headers">{{profileDetails.dob}}</span>
                  </div>

                  <div class="input-field">
                      <label>Email</label>
                      <span class="profile-headers">{{profileDetails.email}}</span>
                  </div>

                  <div class="input-field">
                      <label>Mobile Number</label>
                      <span class="profile-headers">{{profileDetails.number}}</span>
                  </div>

                  <div class="input-field">
                      <label>Gender</label>
                      <span class="profile-headers">{{profileDetails.gender}}</span>
                      
                  </div>
                  <div class="input-field">
                      <label>Team Type</label>
                      <span class="profile-headers">{{profileDetails.teamType}}</span>
                      
                  </div>

                  <div class="input-field">
                      <label>Current City</label>
                      <span class="profile-headers">{{profileDetails.location}}</span>
                  </div>
                  
              </div>
          </div>
         <div style="display: flex;justify-content: center;gap:20px;">
            <button class="logout" (click)="this.Back()">
                back
            </button>
            <button class="logout" (click)="this.Logout()">
                Logout
            </button>
         </div>      
    </div>
</div>