

    

      <nav>
        <div class="logo">EMPLOYEE DASHBOARD</div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
          <i class="fas fa-bars"></i>
        </label>
        <ul>
          <li><a class="active" href="#">Employees</a></li>
          <!-- <li><a href="profile-page">Profile</a></li> -->
          <li>
            <div className="user_icon" onClick={Toggle}>
              <a href="profile-page"><img class="user_icon_img" [src]='picUrl'  alt='dp' /></a>
            </div>
          </li>
        </ul>
      </nav>
      <div>
        <div class="tabbed">
          <h1 (click)="this.SelectedTeam('allteams')"class="stab">all Teams</h1>
          <h2 (click)="this.SelectedTeam('dashboard')" class="stab">Dashboard</h2>
          <h2 (click)="this.SelectedTeam('voice')" class="stab">Voice</h2>
          <h2 (click)="this.SelectedTeam('cloud')" class="stab">Cloud</h2>
          <h2 (click)="this.SelectedTeam('mobile')" class="stab">Mobile</h2>
          <h2 (click)="this.SelectedTeam('firmware')" class="stab">FirmWare</h2>
          <h2 (click)="this.SelectedTeam('intern')" class="stab">Interns</h2>
          

        </div>
          <div  class="content" style="display: grid;
          grid-template-columns: repeat(5, 1fr);
          gap: 30px;">
            <div *ngFor="let semployee of allEmployeesDetails" class="wrapper2">
                <div class="card front-face">
                  
                  <img width="100px" src={{semployee.pic}} alt="Flip Card">
                  <!-- <div><b>{{semployee.name}}</b></div>
                  <div>{{semployee.teamType}}</div> -->
                </div>
                <div class="card back-face">
                  <img class="ayla-logo"  src="https://res.cloudinary.com/dqlfjgkoe/image/upload/v1673428076/logo_dtg2e1.png" width="236px" height="34px"/>
                  <img class="employee-pic" src={{semployee.pic}} alt="Flip Card">
                  <div class="info">
                    <div class="title">{{semployee.name}}</div>
                    <p><b>{{semployee.email}}</b><br>{{semployee.teamType}}</p>
                  </div>
                </div>
            </div>

            <!-- <div *ngIf="allEmployeesDetails.length > 0">

            </div> -->

        </div>
      </div>

    